ul > ul{
    /* Indicar qué tipo de lista queremos;
        circle
        square */
    list-style-type: circle;
    list-style-position: inside;
}

ol{
    list-style-type: upper-latin;
}

.menu{
    width: 100%;
    background: #000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
}

.menu li a:hover{
    background: #ccc;
    color:#000;
}