h1{
    /* Palabras clave para colores, no existe un control sobre el color */
    color: aqua;
}

h2{
    /* Forma de rgb decimal, no es una forma práctica de hacerlo */
    color: rgb(53,131,44);
}

h3{
    /* Forma hexadecimal, es la mejor manera */
    color: #4D9B44;
}

h4{
    /* RGB con porcentajes, no se usa tan usual */
    color: rgb(10%, 3%, 40%);
}

h5{
    /* Forma de rgb decimal con valor alpha(opacity: ), no es una forma práctica de hacerlo */
    color: rgba(53,131,44, .5);
}
